body {
    box-sizing: border-box;
    font-family: Montserrat;

    @media only screen and (max-width:1440px) and (min-width:1360px) {
        .container {
            max-width: 1290px;
        }
    }
}

.btn-transparent {
    width: 149px;
    height: 41px;
    border: 1px solid #FFFFFF;
    border-radius: 8px;
    background-color: transparent;

    a {
        text-decoration: none !important;
        color: white;
    }
}

.btn-transparent:hover {
    background-color: #18293D;
    border: 0px solid #FFFFFF;
}

.btn-fill {
    width: 222px;
    height: 41px;
    background: #18293D;
    border-radius: 8px;
    margin: 0px 10px;

    a {
        text-decoration: none !important;
        color: white;
    }
}

.btn-fill:hover {
    background-color: transparent;
    border: 1px solid #FFFFFF;
}

.btn-fill-yellow {
    width: 222px;
    height: 41px;
    background: #D6BD9E;
    ;
    border-radius: 8px;
    margin: 0px 10px;

    a {
        text-decoration: none !important;
        color: #18293D;
        font-weight: 600;
    }
}

.btn-fill-yellow:hover {
    background-color: #18293D;
    border: 1px solid #D6BD9E;
}

.btn-fill-yellow:hover a {
    color: white !important;
}

.btn-fill-white{
    width: 222px;
    height: 41px;
    background: white;
    ;
    border-radius: 8px;
    margin: 0px 10px;

    a {
        text-decoration: none !important;
        color: #18293D;
        font-weight: 600;
    }
}
.btn-fill-white:hover{
    width: 222px;
    height: 41px;
    background: #D6BD9E;
    border-radius: 8px;
    margin: 0px 10px;

    a {
        text-decoration: none !important;
        color: white;
        font-weight: 600;
    }
}

.btn-fill-2 {
    min-width: 220px;
    height: 41px;
    background: #18293D;;
    border-radius: 8px;
    margin: 0px 10px;
    padding: 0px 20px;

    a {
        text-decoration: none !important;
        color: white !important;
        font-weight: 600;
    }
}
a{
    text-decoration:  none !important;
}

// .btn-fill-2:hover {
//     background-color: transparent;
//     border: 1px solid #18293D;
//     color: #18293D !important;
// }
// .btn-fill-2:hover a {
//     color: #18293D !important;
// }
.subscribe-btn{
    @media only screen and (max-width:710px){
        width: auto !important;    
    }
        
}
button {
    background-color: transparent;
    border: none;
}

.nmb-30 {
    margin-bottom: -30px;
}

.text-yellow{
    color: #D6BD9E;
}
.text-gray{
    color: #999999;
}
.text-black{
    color: #18293D !important;
}
.border-video{
    border: 3px solid #18293D;
    padding: 15px;
}
.border-bottom{
    border-bottom: none !important;
}
.right-line{
border-right: 1px solid #18293D;
}
// .h-100px{
//     height:120px!important;
// }
.h-30{
    height: 30px !important;
}