.blog-header{
    background: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('/assets/images/Rectangle\ 11\ \(1\).png') !important;
    height: 60vh;
    background-repeat: no-repeat !important;
    background-position:top;
    background-size: cover !important;

    @media only screen and (max-width:767px) {
        height: 100% !important;
    }
}
    // min-height: 500px !important;
    .tour-card{
        // min-height: 500px !important;
     .tour-text{
        height: 300px;
        h1{
            height: 60px;
            overflow: hidden;
        }
        .paragraph-text{
          height: 120px;
            overflow: hidden;
            
        }
     }
     .tour-text-home{
        max-height: 300px !important;
        h1{
            height: 60px;
            overflow: hidden;
        }
        .paragraph-text{
           height: 120px;
            overflow: hidden;
            
        }
     }
    }
.active-port{
    color: black !important ;
    text-decoration: underline !important;
    font-weight: bold!important;
}
.state__list{
    @media only screen and (max-width:710px){
flex-direction: column;    }
}
.state__list--item{
    margin: 0px 5px;
    white-space: nowrap;

    @media only screen and (max-width:710px){
        margin: 10px 5px;
        width: 100% !important;
    }
}
.blog-detail-header{
    background: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('/assets/images/honeymoon-money-is-no-object-maldives-e1520806746459.jpg') !important;
    height: 60vh;
    background-repeat: no-repeat !important;
    background-position:center !important;
    background-size: cover !important;

    @media only screen and (max-width:767px) {
        height: 100% !important;
    }
}
.blog-img{
width: 200px !important;
object-fit: cover;
@media only screen and (max-width:500px){
    width:100% !important;
 }
 img{
   
    width: 200px !important;
    height: 130px !important;
    object-fit: cover;
    @media only screen and (max-width:500px){
       width:100% !important;
    }
}
}
.blog-row{
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-top: 10px;
    @media only screen and (max-width:500px){
        flex-direction: column !important;
    }
}