.pricing-card{
    background: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('/assets/images/Group\ 48095490.png');

border: 1px solid #18293D;
border-radius: 8px;
padding:20px 20px 0px 20px;
color: #18293D !important;
fill: #18293D;
margin-top: -200px;
}